[2021-09-30 19:46] jpearll commented on #254
Hi @Roblinde, best would be Slack. Let me know how you want to proceed.

[2021-10-01 19:00] Roblinde commented on #254
@jpearll join our community slack at https://www.contentful.com/slack/ my username is Robban. Send me a DM and we will pick this up from there and get to the bottom of this.

[2021-10-08 15:11] Roblinde commented on #241
@pmpontes not sure if you still have this issue, but I've just released version 6.0.16 that fixes one more relatively uncommon scenario with deserialization. Perhaps this solves your issue as well?

[2021-10-22 21:12] jamiepollock opened #257 "Management API: Issue update/creating webhooks with InConstraint"
Hello, I'm trying to create or update a webhook with an InConstraint via the Management API Client. Initially I struggled to do this due to receiving the following exception message:

[code]

So then I created the webhook via the contentful app and checked what the Management API Client brought back. See screengrab.

![Existing Webhook with InConstraint](https://user-images.githubusercontent.com/5

[2021-10-26 18:20] nickv-getcodified opened #259 "Is there a separate resolver for RichText which includes assets and entries?"
Greeting I'm using GraphQL library and from what I've understood I'm getting RichText with references to assets and entries resolved in another collection. In your code, more precisely I looked into [this line](https://github.com/contentful/contentful.net/blob/d84b23a07dde353bf4fb5be17183b5a84b52b8b5/Contentful.Core/ContentfulClient.cs#L305). I noticed that you're basically filling holes in RichTe

[2021-11-08 10:48] mattthr opened #260 "Returned C# objects have Revision but not Version"
Have hit a problem trying to update contentful items using the C# API - using CreateOrUpdateEntry seems to require you to increment the version number, otherwise, it complains you're not updating the most recent version. But when I fetch an existing item, it doesn't seem to have a version?

`                var idQuery = QueryBuilder<Entry<dynamic>>.New.ContentTypeIs(ContentfulEntryType).FieldEqua

[2021-11-09 07:18] Roblinde commented on #260
The version is only returned for calls using the CMA (Contentful Management API), which means you need to use the `ContentfulManagementClient` to fetch your entries. You can read more about working with entries and the CMA here: https://www.contentful.com/developers/docs/net/tutorials/management-api/#working-with-entries

[2021-11-09 07:18] #260 closed

[2021-11-10 23:25] nholik opened #261 "Problem GetEntry with Entry<T> deserializing Fields property"
I was trying to take advantage of the note in the documentation regarding using Entry<T> to resolve metadata and sys properties as per
https://contentful.github.io/contentful.net-docs/api/Contentful.Core.ContentfulClient.html#methods
 and
https://github.com/contentful/contentful.net/blob/bba183e94de66a1f745fb79f6746c2a0e6ff4e11/Contentful.Core/ContentfulClient.cs#L111

However, it looks like for t

[2021-11-13 14:19] #257 closed

[2021-11-13 14:20] #259 closed

[2021-11-13 14:20] Roblinde commented on #261
@nholik thanks for the PR, releasing a new version shortly that includes this fix.

[2021-11-13 14:20] #261 closed

[2021-11-16 07:45] jbe-emakina opened #263 "Default value support in Field object"
Hello,

I'm trying to add a default value in my field object but I think that feature is not yet supported by the framework.
Do you know when this feature will be available?

**See related documentation**: https://www.contentful.com/developers/docs/references/content-management-api/#/reference/content-types/content-type => paragraph "Default values"

Thanks for your support,
Kind regards,
Jonathan

[2021-11-16 09:29] Roblinde commented on #263
Hi @jbe-emakina I'm expecting to release a version supporting this during the week. I'll let you know when it's available.

[2021-11-18 07:37] jbe-emakina commented on #263
Thank you @Roblinde for your support ;)

[2021-11-18 07:54] coherent-edkarhuber opened #264 "Version mismatch error"
Hello,

Could you explain how does updating assets work?
I use the following simple code:
[code]
and always get the exception: `Version mismatch error. The version you specified was incorrect. This may be due to someone else editing the content.'`

I've also tried to update a version somehow: `assetOld.SystemProperties.Version -= 1; +=1` but in all cases I got the same result.
Using **contentful.c

[2021-11-18 08:21] coherent-edkarhuber opened #265 "Can't create Asset by using UploadReference"
Hello,

For some reason, I can't create assets by using UploadReference. Could you please assist?
Here is my code example (almost the same as in your [guide](https://www.contentful.com/developers/docs/net/tutorials/management-api/)):
[code]
I got the following error in the end:
[code]

Even I specify `SystemProperties  LinkType = "Upload"` I still get the same exception.
Also I see ..."file", **"e

[2021-11-18 09:15] Roblinde commented on #264
Hello @coherent-edkarhuber what happens if you specify the version from the asset you just fetched:

[code]

The idea here is that the API expects you to specify a version of the aset (or entry) that you're trying to update to make sure noone has been making changes to it since you fetched it.

[2021-11-18 09:22] coherent-edkarhuber commented on #264
Thanks @Roblinde .
I'll try it and let you know.. I wasn't aware of it. I thought the version is taken from `asset`.

[2021-11-18 10:37] coherent-edkarhuber commented on #264
@Roblinde yes, it works, thanks!

[2021-11-18 10:37] #264 closed

[2021-11-18 11:19] Roblinde commented on #265
hmm I'll have a look. I think the code looks good. Let me get back to you.

[2021-11-18 11:53] Roblinde commented on #265
@coherent-edkarhuber turns out there's actually a line missing from the example. You need to set the properties to null (which is annoying) and you also need to set the linktype property to `"upload"`.

If you add the line: `uploadReference.SystemProperties.LinkType = "Upload";` just after setting the space to null I think it should work.

[2021-11-18 11:59] coherent-edkarhuber commented on #265
@Roblinde

what do u mean? which properties should I set to `null`? UploadReference? could you provide an example, please?

Previously I've tried in that way:
[code]

and it didn't help me.
Thanks.

[2021-11-18 12:21] coherent-edkarhuber commented on #265
@Roblinde never mind. All good. I tried to set LinkType to asset entity instead of uploadReference.
It works in the way you suggested: `uploadReference.SystemProperties.LinkType = "Upload";`

Thanks again.

[2021-11-18 12:21] #265 closed

[2021-11-18 12:50] Roblinde commented on #263
@jbe-emakina This should now be supported in version 6.0.18.

You do something like this:

[code]
Let me know how it works for you.

[2021-11-19 16:29] FreshRob opened #266 "Question: Remove Render only have RenderAysnc from IContentRenderer or TableCellRenderer should use RenderAysnc"
Hello,

Wonder what your thoughts were to removing Render completely and only having RenderAsync.

I noticed that in the HTMLRenderder it uses RenderAsync but things such as the new TableCellRenderer are using Render when rendering ContentRendererCollection this means Async calls for Renderers are being forced to be synchronous.

It would be good to get yours thoughts on this, obviously my suggest

[2021-11-19 17:46] nholik opened #267 "Embargo asset support?"
I was trying to figure out if there was support for some of the functions related to [embargoed assets](https://www.contentful.com/help/embargoed-assets-overview/).  However, it looks like, there is not support that I can see?  Referring to [this document](https://www.contentful.com/developers/docs/tutorials/general/embargoed-assets-getting-started/) I was hoping to leverage the library for method

[2021-11-19 18:51] Roblinde commented on #267
Hi @nholik No, there's no support for that yet. If you wish to have a go at the implementation that'd be awesome. I'll be available if you have any questions. Otherwise I'll probably get around to adding support in the next couple of weeks.

[2021-11-19 19:07] Roblinde commented on #266
@FreshRob thanks for the suggestion. Yeah, now that I look at it it's an oversight on my part. All the rendering code is completely synchronous at the moment though, but if someone implemented some sort of asynchronous renderer (not sure what the use case here would be, maybe reading some info from another system?) it would indeed be forced to be synchronous.

The main reason I even added the asyn

[2021-11-19 21:31] nholik commented on #267
Thanks @Roblinde I'll probably look this weekend and give you a PR to look at.

[2021-11-19 21:51] FreshRob commented on #266
From our code the only instance is that we use AngleSharp and we are using their ParseDocumentAsync, looking at it we could change it to be sync implemenation.

I guess the use case for async would be if someone wanted to do to a call to another api to get properties  that they required or a csharp service that was async like I had above.

Looking at the Taghelper in netcore github async is the so

[2021-11-19 22:03] #263 closed

[2021-11-20 12:02] FreshRob commented on #266
https://github.com/contentful/contentful.net/pull/268

[2021-11-22 01:13] nholik commented on #267
@Roblinde  I've put in a PR for this, but some of the functionality, probably deserves more discussion.  What I added is part of the delivery/preview API, so it fits naturally.

 However, some of the functions related to signing seem like either they would beyond the scope of this API, or I would need some further input on how to add it in.  It doesn't seem like there are general helper methods of

[2021-11-22 10:44] Roblinde commented on #267
@nholik thanks for the PR.

I agree that the signing part of the workflow might be something outside of the scope of the SDK. We could potentially expose some helper methods, but I feel like URL-signing and transformation of the asset URL:s would be something that should probably be a separate library or even just a guide for an example .net back end that could be extended and modified to suit the

[2021-11-22 12:22] nholik commented on #267
@Roblinde yes, after spending more time with the library, only the key generation makes sense and is a natural fit.  I completely agree that the additional helper functions, at least as far as related to this issue, make sense as a separate library, which I may take on for this particular situation.

[2021-12-04 16:57] Roblinde commented on #267
@nholik thank you for the contribution. Your PR is now merged to version 7.0.0

[2021-12-04 16:57] #267 closed

[2021-12-04 16:57] Roblinde commented on #266
Thanks @FreshRob! Your PR is now merged to version 7.0.0

[2021-12-04 16:57] #266 closed

[2021-12-04 19:53] FreshRob opened #271 "Add tags to asset"
I needed to add tags to an asset, to describe what type of asset it is.

I noticed tags were missing from the Asset and ManagementAsset models.

Created a pr https://github.com/contentful/contentful.net/pull/270

[2021-12-04 22:17] Roblinde commented on #271
Thank you @FreshRob! I'll have a look.

[2021-12-10 06:54] ErikEJ opened #272 "Error when getting Linked entry from "Document" type"
Please let me know if there is any additional information I can contribute.

Client version 6.0.17, .NET 6
[code]

[2021-12-10 07:02] tele-bird opened #273 "unexpected results with ContentfulClient.SyncInitial()"
The ContentfulClient.SyncInitial() method returns **all** data when I pass it SyncType.All and a non-empty ContentType.  So essentially it ignores the ContentType I pass it.  Probably the _right_ fix is to honor the request and return the error that the endpoint returns: "When passing a content_type the type must be set to Entry.".
https://cdn.contentful.com/spaces/<space>/sync?initial=true&conten

[2021-12-10 08:03] Roblinde commented on #272
Hi @ErikEJ
Could it be that you haven't given your class `CMSArticleDTO` the `IContent` interface? That interface is a marker that shows that you intend the content class to be part of a rich text structure. If you add that interface to your class (or classes if you have several that might be part of the rich text) I hope you'll get the expected result.

[2021-12-10 08:06] ErikEJ commented on #272
Let me try that, oddly enough everything else works with the "Document" property in that class.

Where is this interface documented?

[2021-12-10 08:08] Roblinde commented on #273
Hi @tele-bird
This sounds like a good improvement. I don't know if it's necessary to actually pass through the request though, we can save a round trip and have a more descriptive error if we just throw if you've set `SyncType.All` and provided a content type.

I'll have a look at it.

[2021-12-10 12:35] ErikEJ commented on #272
It did not work, further debugging reveals that the issue occurs only if you have to "Entry links" in the same paragraph!

[2021-12-11 15:33] Roblinde commented on #272
Hi @ErikEJ I don't seem to have any such problems with multiple entry links with the same paragraph. I'm assuming you have implemented a custom renderer for entries, could there be something in there that is causing issues?

[2021-12-11 15:36] ErikEJ commented on #272
No custom renderer, simply having a Document property in my class.

I can upload a repro video...

[2021-12-12 09:25] ErikEJ commented on #272
Or share the offending payload?

I have two Document properties in.my class, not sure if that makes any difference?

[2021-12-12 10:50] Roblinde commented on #272
The payload would be perfect, then I can have a look.

[2021-12-12 10:55] ErikEJ commented on #272
What is the simplest way to get the payload either the .net sdk?

[2021-12-12 11:03] Roblinde commented on #272
The simplest is probably to mimic the query and go to https://cdn.contentful.com/spaces/{spacId}/entries?access_token={acctoken}&{restofQuery}

Be careful to redact anything you don't want to be public or send me an email with it instead.

[2021-12-13 12:43] coherent-edkarhuber opened #274 "Can't erase fields of entry by calling UpdateEntryForLocale method"
Hello,

Faced an issue when `null` values are ignored and not used to erase the current value of a field.
I have an entry with name, description (short text type), and other fields that are optional.
Contentful client ignores `null` values when I pass them, for example: `entry.Desription = null` (in case I want to remove the prev description value). I set `null` value, then call `UpdateEntryForLoc

[2021-12-13 14:42] ErikEJ commented on #272
Unbale to get a repro after the first incident, and follow up issues turned out to be non-related.

[2021-12-13 14:43] Roblinde commented on #272
Thank you for investigating @ErikEJ

[2021-12-13 15:17] Roblinde commented on #274
Hi @coherent-edkarhuber this is by design for the `EntriesForLocale` endpoints. As the SDK can't know what type of object you pass in we safeguard by not deleting null values. You could use the slightly more involved endpoints "GetEntry" and "UpdateEntry".

Here's a very small example:
[code]

[2021-12-13 15:21] coherent-edkarhuber commented on #274
I see. Ok, thanks.

[2021-12-13 15:21] #274 closed

[2021-12-14 22:16] tele-bird commented on #273
@Roblinde , is Entry the only SyncType that allows to pass a non-empty ContentType to SyncInitial() ?

[2021-12-15 17:18] FreshRob commented on #271
Evening, were you able to look into it?

[2021-12-15 19:08] FreshRob opened #275 "Null for reference when shared with an entry that doesn't have a resolver"
Hi,

Come across an issue where by in the RichText if an entry has a reference to an author but no resolver and said author is referenced by another entry that has a resolver then the property is null.

[code]

I assume this is to do with processedIds inside the contentfulClient, as the first one doesn't have a resolver so the author referenceId is marked as processed and stored as null.

Does tha

[2021-12-16 08:05] Roblinde commented on #271
I was and have it merged and tested locally. Have just a few other things to add to the release, hopefully I'll get it out tomorrow.

[2021-12-16 08:30] Roblinde commented on #275
Hmm sounds like it could be the same issue that I explain here https://robertlinde.se/posts/why-is-my-item-null-contentful-net/ have you tested with `ResolveEntriesSelectively=true`. Hopefully that resolves it, otherwise we'll have to go deeper and investigate why we can't seem to find the correct item to deserialize from.

[2021-12-16 14:58] Roblinde commented on #273
@tele-bird yes, only entries can have content types.

[2021-12-17 10:18] Roblinde commented on #273
This should now be fixed in version 7.0.1

[2021-12-17 10:18] #273 closed

[2021-12-17 10:19] Roblinde commented on #271
Version 7.0.1 now out!

[2021-12-17 10:19] #271 closed

[2021-12-17 14:44] Pliuxus opened #277 "Null reference exception when rendering rich text content with a couple of content elements sharing the same asset"
Hi,

I have a content item that has a rich text field into which I'm embedding another content item (different type) having a media field, populated by a draft image. Then in the same rich text field I've embedded the same image as an asset. With this setup, when I'm rendering this content on a page using `<contentful-rich-text document/>` tag, I'm getting a null reference exception here:

`if (no

[2021-12-17 15:31] Roblinde commented on #277
Hi @Pliuxus thanks for the report. This sounds interesting. Not sure if using `ResolveEntriesSelectivley=true` solves this, but it's almost certainly related to what i describe here: https://robertlinde.se/posts/why-is-my-item-null-contentful-net/

If setting `ResolveEntriesSelectivley=true` doesn't solve this problem for you I'll look into setting up a similar setup and investigate.

[2021-12-17 15:32] Roblinde commented on #275
Possibly related to #277

[2021-12-21 09:38] Pliuxus commented on #277
Thanks, @Roblinde. Unfortunately it did not help, still getting the same null reference exception right here:
![image](https://user-images.githubusercontent.com/47353290/146907260-dac859d0-059e-4541-b4fc-213b3f0b41d7.png)

[2022-01-04 07:48] ErikEJ opened #279 "Due diligence should be observed for dependency tree"
Fixed proposed in https://github.com/contentful/contentful.net/pull/278

[2022-01-04 19:43] tele-bird commented on #273
@Roblinde , would it be possible/desirable for the SDK to allow this kind of request for DeletedEntry as well?  It seems to me it would be very useful for maintaining a local cache for that specific content type.  If we want to cache only MyContentType, then we need to know whenever those entries are **changed** or **deleted**.  Otherwise, I'd need to sync all DeletedEntry, and then read through t

[2022-01-06 16:05] FreshRob commented on #275
Sorry I took so long to get back to this, yes that solved the issue thank you.
Is there a performance hit from this setting?

[2022-01-06 18:34] Roblinde commented on #275
@FreshRob yes, there is a small performance hit as the SDK needs to use reflection to inspect the types during deserialization. It should be very small however.

[2022-01-06 18:34] #275 closed

[2022-01-12 09:30] coherent-edkarhuber opened #280 "Can't receive metadata with tags"
Hello,
I use Content Management API (via IContentfulManagementClient) to get entry tags. For some reason, Metadata property is always `null`
Code example: `var entry = await _client.GetEntry(entryId);` which returns `Entry<dynamic>`.
I set the tag via UI, but again `GetEntry` method returns me entry with all data except Metadata tags.
Could you point me how I can receive tags for a specific entry?

[2022-01-12 12:44] Roblinde commented on #280
Hi @coherent-edkarhuber thanks for the report. This looks like a potential bug. The metadata doesn't seem to be added for the single entry endpoint. I'll look into getting a fix into the next version.

[2022-01-12 12:51] coherent-edkarhuber commented on #280
thanks

[2022-01-17 15:52] alexp1234 opened #281 "Special characters being added to plain text"
The problem we're having is very similar to https://github.com/contentful/contentful.py/issues/4 .
If a Contentful entry is created with plaintext values, it is possible to retrieve them without issue by this text value.
After some time, searching for entries by values no longer works, because special characters such as \u2014 are being added along with the plain text. I'm guessing that there is a

[2022-01-17 16:24] Roblinde commented on #281
Hi @alexp1234 This sounds interesting, I've never heard of this problem before. Could you show some code of how you're performing the search?

[2022-01-17 17:06] alexp1234 commented on #281
Thanks for the fast response, and yes certainly. I can't post exact code samples but it's a very simple logical process:

// This works for a time, but eventually stops working because "fields.something" value is retreived with special characters
var builder = new QueryBuilder<T>
builder = builder.FieldEquals("fields.something", my_value).ContentTypeIs("My_Content_Type");
ContentfulCollection<T> r

[2022-01-18 06:20] Roblinde commented on #281
Have you tested running the same query directly against the api. Something like: https://cdn.contentful.com/spaces/SPACEID/entries?content_type=My_Content_Type&fields.something=my_value&access_token=xxx

I'm wondering if this is a .NET deserialization problem or a problem with the API response itself.

[2022-01-18 10:08] coherent-edkarhuber opened #282 ""force" delete support"
Hello,

Created this request to clarify "delete" behavior... Is it possible to "force" delete entry even it's in the `Published` state?
Looks like right now it's not possible - I receive "can't delete entry" exception.
But there is nothing said about such requirement in documentation: https://www.contentful.com/developers/docs/net/tutorials/management-api/

`await client.DeleteAsset("<new_asset_id

[2022-01-18 11:46] Roblinde commented on #282
Hello @coherent-edkarhuber  yes, this is a limitation of the API, you cannot delete published assets. You'll notice the same behaviour in the web app. You need to first unpublish and then delete the asset.

Also note that even after deletion it may take some time for the asset to be removed from the CDN. Here's a snippet from the docs:

[2022-01-18 12:03] coherent-edkarhuber commented on #282
the same is true for entries, right? I can't delete a published entry, correct?

[2022-01-18 12:25] Roblinde commented on #282
Yes, that is correct.

[2022-01-18 12:29] coherent-edkarhuber commented on #282
Thanks a lot

[2022-01-18 12:29] #282 closed

[2022-01-20 18:40] alexp1234 commented on #281
So I just tried running the query directly to retrieve all entries of a specific ContentType, and some of the data is showing up, but not all of it. I can clearly see the entries in the Contentful site, and they are the requested ContentType and are Published, so I'm not sure why they wouldn't be included in the response.

[2022-01-20 20:20] Roblinde commented on #281
hmm that sounds even more suspicious... The default limit for the number of entries are 100, I don't suppose you're just running into that limit?

This feels like something we should maybe get someone from the Contentful API support team on.

[2022-01-20 20:52] alexp1234 commented on #281
Sorry my mistake, it appears I was running into that limit. When I query the API directly at the endpoint, everything looks fine

[2022-01-20 20:52] #281 closed

[2022-02-10 08:33] ErikEJ commented on #279
Ping?

[2022-02-14 10:00] coherent-edkarhuber opened #283 "Fields are erased when call CreateOrUpdateEntry method"
Hello,
I have an issue with erasing data in Contentful when I'm trying to save the model which doesn't have all primitives fields (comparing with Contentful) by calling `CreateOrUpdateEntry` method.
To understand what I'm talking about lets assume:
1. In contentful we configure the model to have:
[code]
2. In my .Net code I declare Model with only Name & Description, since Order and boolean flags

[2022-02-14 10:59] Roblinde commented on #283
Hi @coherent-edkarhuber I believe the rest of the fields in this case are passed as null and therefore removed when you try to update the model.

I have added a method that could work for these scenarios though, if you try the `UpdateEntryForLocale` method I believe it will do what you want.

However, this method needs to make a couple of calls to the API behind the scenes. First it needs to call

[2022-02-14 11:09] coherent-edkarhuber commented on #283
Thanks for the explanation

[2022-02-14 11:09] #283 closed

[2022-02-17 08:37] coherent-edkarhuber commented on #283
Quick question:
you said

but is this ok if I don't pass them at all and they are still erased?
I build this Entry<dynamic> by myself instead of passing typed-model object. So again assume in the contentful we have a lot of properties, but in the code, I pass only several and all others are not declared at all (this means we don't pass null explicitly).
So maybe the issue that SDK shouldn't use or

[2022-02-17 10:02] Roblinde commented on #283
@coherent-edkarhuber this is a good idea in theory, but that would make it hard to actully do in practice as the underlying API will interpret a missing field as a null value and thus empty the field. This is basically the reason I added the `UpdateEntryForLocale ` method, it will only update the properties present in your model, but that unfortunately means a few excess calls :/

[2022-02-17 10:39] coherent-edkarhuber commented on #283
@Roblinde got it, it's clear now. Thanks!

[2022-02-17 12:53] ErikEJ opened #284 "No getting any tags from an entry"
I have this in my C# class;

    [JsonProperty("$metadata")]
    public ContentfulMetadata SystemMetadata { get; set; }

But nothing is returned

[2022-02-17 12:57] ErikEJ commented on #284
Using JObject I get:

{{
  "tags": []
}}

[2022-02-17 13:13] ErikEJ commented on #284
It was a private tag 😄

[2022-02-17 13:13] #284 closed

[2022-02-18 15:44] Roblinde commented on #277
@Pliuxus sorry for taking some time to get around to this. I have investigated now and been able to reproduce the problem. I will fix so that this does not throw an exception in an upcoming fix. However, the problem is related to the blog post I alluded to earlier. What you need to do here is to instruct the serializer through a ContentTypeResolver how you want to resolve the entry-reference that

[2022-02-21 08:59] JamesIde opened #285 "Unable to build Blazor WASM project using Contentful.AspNetCore"
Hello,

Apologies if this is the wrong place to ask for help but I am not able to solve the problem at hand. I am trying to integrate contentful with my blazor web assembly application. I am using .net 6 and contentful.aspnetcore v 7.0.1.

I get the following error trying to build my application, this error seems to come from the following file:
portfolio\obj\Release\net6.0\portfolio.MvcApplicatio

[2022-02-21 12:34] Roblinde commented on #285
Hi @JamesIde I'm not sure exactly what's causing the error, but the Contentful.AspNetCore package was built before Blazor was a thing so it might currently contain something that's not compatible. The contentful.csharp package should get you most of what you need though, the aspnetcore package is mostly some niceties for working with razor with some taghelpers, some middleware and some renderers f

[2022-02-22 05:49] JamesIde commented on #285
Hi @Roblinde. Thank you for your response. By moving to the contentful.csharp package, I was able to solve that problem.
However, something else came to mind whilst I was doing that. By virtue of the ContentfulClient, the api keys that are requried to access the CDA are stored in appsettings.json. I'd like to avoid this as these keys could be visible to the user due to everything being done in the

[2022-02-22 07:34] Roblinde commented on #285
Great!

Yes, you can absolutely user env variables for your contentfulclient. There are multiple constructors for the creation of the client. I'm not sure exactly how you wire the client up currently, but you can read from the env. variables and use an appropriate constructor when creating the actual client.

Something along the lines of: services.AddTransient<IContentfulClient>((sp) => new Conten

[2022-02-25 06:15] JamesIde commented on #285
Thanks @Roblinde. Worked like a charm. Only thing here was I had to create a web api component and query the Contentful CDA through that, then deserialise it to the client side because Blazor WASM applications cannot access environmental variables (AFAIK) so I could not securely store them. Thanks for the help, greatly appreciated!

[2022-02-25 23:00] araver commented on #254
What was the issue? I'm still seeing this in version 7.0.1. I've found that not all of the assets are coming across in the array of "IncludedAssets", which causes the reference resolver to not map them. Is there limit to how big the response payload can be?

[2022-02-26 14:41] Roblinde commented on #254
@araver if the asset is not even in the "IncludedAssets" it sounds like it's either not published or perhaps your "Include" parameter is set too low.

[2022-02-26 16:13] araver commented on #254
They're definitely published and most of them are coming through, its probably only 2% that get missed. My understanding is the "Include" adds more depth to the request, correct? These assets are part of the entries I'm requesting, not sub relationships. And if I look at the request in fiddler, I see the $refs coming across just fine.

[2022-02-26 22:36] #285 closed

[2022-02-28 16:32] araver commented on #254
I just checked, its missing from there too.

[2022-03-02 14:15] steuraa opened #286 "Response size too big. Maximum allowed response size: 7340032b"
Hello,
I'm running in to this error when I try to retrieve a single contentful entry via client.GetEntries()
`var queryBuilder = QueryBuilder<Inspiration>.New.Include(4) .ContentTypeIs("inspiration").FieldEquals(f => f.sys.Id, id).Build();`
`var result = await client.GetEntries<Inspiration>(queryBuilder + $"&locale={locale}");`

I assume the issue is the Include(4), but we need this to get all the

[2022-03-03 17:40] Roblinde commented on #254
@araver that indicates that the asset is never returned from the Contentful API at all. Not sure why that would be (unless it's unpublished for example). If you run the query manually and inspect the result from Contentful, can you find the missing asset?

[2022-03-03 17:44] Roblinde commented on #286
Hello @steuraa

This is unfortunately a limitation of the underlying API and not something you can control from the SDK. What you could try to limit the response size (since lowering the Include-level seems to not be an option) is to use the Select operator https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/select-operator/query-entries/console

[2022-03-10 15:15] bacpac commented on #280
For anyone having a similar problem with not getting metadata in the response; after digging into this git repo I found the metadata JSON keys are renamed from `metadata` to `$metadata` in the SDK. Not sure why, but perhaps to avoid certain conflicts.

Adding `[JsonProperty("$metadata")]` to my Gateway model mapped the metadata correctly.

[2022-03-10 15:37] ErikEJ commented on #280
Yes  it look like there is a gap in the documentation.

[2022-03-14 21:28] carlin-q-scott opened #287 "DeserializeWebhookRequestAsync cannot deserialize a Document (rich text content)"
I cannot deserialize a webhook call with rich text content. This is the error I get when calling `WebhookDeserializer.DeserializeWebhookRequestAsync`:

I can work around this by using the contentful client to retrieve the entry as it will deserialize the content properly.

[2022-03-15 07:26] #286 closed

[2022-03-15 07:31] Roblinde commented on #287
Ah yes, this is sort of hard to have work directly from the SDK, I'm starting to feel like the `IContent` interface might have been a mistake.

What you could do is to add the `ContentJsonConverter` to your `WebhookDeserializer`, this is the converter that knows how to deserialize `IContent`.

Something like: `WebhookDeserializer.SerializerSettings.Converters.Add(new ContentJsonConverter());`

Ano

[2022-03-15 16:30] carlin-q-scott commented on #287
I ended up instantiating my own instance of the Json.NET JsonSerializer using the IContentfulClient.SerializerSettings:
[code]

And yes, I needed that many readers because [JSON.NET tries to read the request body stream synchronously](https://github.com/JamesNK/Newtonsoft.Json/issues/1193), and [ASP.NET disabled that in asp.net 3.0](https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.0#ht

[2022-03-15 16:32] carlin-q-scott commented on #287
It would be nice if you exposed the serializer used by the client publicly, through the interface, so that I could use it in my webhooks.

[2022-03-22 11:29] t-kamyk opened #288 "Assets are not resolved selectively"
Hi!

I have an issue regarding the resolution of assets included in two different content items.

Consider the following model - the content type contains an asset field (MainImage) and a Rich text field (RtfBody):

[code]

The RtfBody contains a link to another content item.

If contentA contains a link to contentB and contentA is published after contentB, the MainImage of contentB will be resolv

[2022-03-22 11:57] Roblinde commented on #288
hmm, the idea is that assets shouldn't have to be resolved selectively since we always know what class to deserialize them into. The entry that is contained within the RtfBody, what does it resolve into? If it resolves into a class that contains the image then I would expect this to work, if not then that is probably the easiest solution.

I'm currently looking into improving the deserialization o

[2022-03-22 13:57] t-kamyk commented on #288
We are actually using the built-in Document type for deserialization - you can see it on the model above.

However, it seems that an Entry link is resolved differently for two different content items.

For contentA:
![cont_1](https://user-images.githubusercontent.com/102153598/159498088-8d23301d-2b06-4d40-98bb-4ba599caeaf0.PNG)

For contentB:
![cont_2](https://user-images.githubusercontent.com/102

[2022-03-22 14:21] t-kamyk commented on #288
No, they point to two completely different assets.

The connection between these two is an entry link placed in the RtfBody - contentA has an entry link to contentB and vice versa.

[2022-03-22 14:48] t-kamyk commented on #288
To match the screenshots:

item[0] (Test article 1) has a link in the RtfBody to item[1] (Test article 2) and vice versa.

The collection is sorted by default by Contentful API, by publish date.

[2022-03-22 14:54] Roblinde commented on #288
ah I see, do you see that contentA has the EntryStructure turned into a `CustomNode`. Do you have a ContentTypeResolver setup for the project?

What happens, and this is so annoying with the rich text structure is that one entry that contains links to other assets and entries potentially, is not resolved to a strong type, but instead turned into the `CustomNode`, this in turn uses a Json.Net `JObj

[2022-03-23 08:11] t-kamyk commented on #288
No we don't have the ContentTypeResolver setup.

Is the solution to set it up to map the `entry-hyperlink` to our `CmsArticle` type?

[2022-03-23 09:03] Roblinde commented on #288
Yeah, I think this will be resolved by setting up a ContentTypeResolver, bascially instructing the serializer how a certain content type should be handled. This will make sure it can be deserialized correctly even if it's part of a rich text structure.

[2022-03-23 12:28] t-kamyk commented on #288
Implementing the suggestion and testing. It seems to work great, but I'll update you once again when we finish the testing.

Thanks for the help!

[2022-03-23 15:11] #288 closed

[2022-04-20 12:25] drachele opened #290 "Unable to save Rich Text field with BlockData"
Hi,

There is an issue when trying to write to the Rich Text field when attempting to add BlockData content blocks.

The issue is in the `Contentful.Core.Models.BlockData` class. The `Target` property is the incorrect type.

It is currently: `ReferenceProperties`
It should be of type: `Reference`

This will make it match what the Contentful API is expecting, which is:

![image](https://user-images

[2022-04-20 12:44] drachele commented on #290
Also, the `Block` class is missing `List<IContent> Content`

[2022-04-20 19:03] Roblinde commented on #290
Thanks for the report @drachele I'll get this fixed. In the meantime you can always use a custom class (instead of BlockData) to get around it.

[2022-04-21 06:55] drachele commented on #290
Hi @Roblinde

Yes, I'm currently using my own custom class as a workaround, but would be good to get this fixed in the SDK at some point.

Thanks :)

[2022-04-23 19:00] Handavipul opened #291 "VerisonMismatch"
Everytime I publish an assets , it shows version mismatch .
409 error..
Although the same request work fine for most of the assets .
Client.publishassest("processed_id",2).wait()

[2022-04-23 21:50] Roblinde commented on #291
This indicates the underlying API does not receive the correct version header. If you retrieve the asset first you can inspect the current version and use that in your call.

[2022-04-24 03:16] Handavipul commented on #291
@Roblinde  thanks for you response . But It seems not be working for me . Here are the more details . Facing error on publish

- var actualRes = await  client.CreateAsset(managementAsset);

-  client.ProcessAsset(actualRes.SystemProperties.Id,Convert.ToInt32(actualRes.SystemProperties.Version), "en")).GetAwaiter().GetResult();

-  client.PublishAsset(actualRes.SystemProperties.Id, Convert.ToInt32(

[2022-04-24 07:39] Roblinde commented on #291
@Handavipul when an asset is processed I believe the version increments again. You'd have to fetch the asset again after processing is completed, and this is an asynchronous operation so you'd have to poll the endpoint to know when the processing has completed.

There's a helper method in the SDK `ProcessAssetUntilCompleted` that does this for you.

Keep in mind that this means making multiple req

[2022-04-25 17:21] Handavipul commented on #291
Thanks Mate, that worked  for me @Roblinde

[2022-04-26 12:04] NetMelon22 commented on #221
Hi,
what is the status of this feature?

[2022-06-01 12:41] aKzenT opened #293 "Quality parameter is discarded for webp images in ImageUrlBuilder"
Expected: Quality parameter is passed on
Actual: It is removed

When using "q" parameters directly in the contentful image API with webp you see a visual difference between low and high settings. The doc also doesn't mention that it is not supported.

In the future it would probably make sense to rename the method also to make it clear that it is not only Jpg-Quality.

[2022-06-01 12:41] aKzenT commented on #293
PR opened: https://github.com/contentful/contentful.net/pull/292

[2022-06-15 13:02] aKzenT opened #294 "Support ETag in SDK for improved caching"
Contentful supports ETag/If-None-Match headers to deliver responses only when results have changed. Unfortunately there is no way to set/retrieve these headers in the .NET SDK.

A common scenario for these headers would be a local memory cache that stores some of the contentful responses in deserialized form. We want to regulary refresh this data every few seconds but we want to avoid spending CPU

[2022-06-17 10:59] Roblinde commented on #294
This sounds interesting! I'll have look and get back to you.

[2022-06-27 10:20] aKzenT commented on #294
I think adding a property to the client would be a bad idea for the reasons you outlines. It would not work for us at all as we reuse the contenful client where possible for multiple queries and the etag changes with every query. It would also make for an akward API where you would need to set a property on the client prior to calling the method you want.

So I think it has to be part of the metho

[2022-06-27 11:43] Roblinde commented on #294
Hmm, yeah, I think maybe adding a parameter to all the get-functions would be the way to go.

What do you think about making it an out variable, being set to the returned e-tag value.

Would make the API Something like this:

[code]

[2022-06-27 11:52] Roblinde commented on #294
Never mind, can't use out as it's async methods. Would have to find another way.

[2022-06-27 12:18] Roblinde commented on #294
@aKzenT I think this is how I'd want to do it.

* Add an overload for each get-method that takes a new parameter `string etag`
* The new methods will return a tuple result (string etag, T Result)
* If the e-tags match the result will always be null, otherwise it will contain the result as normal.

Any thoughts on that?

[2022-06-28 09:13] aKzenT commented on #294
@Roblinde In general this would work for us. Some thoughts however:

At least for the methods returning a ContentfulCollection, I would just add the Etag as a property on ContentfulCollection. It already has things like Limit and Skip, so I think it would be a good fit. It would also avoid polluting the API with tuple return types that do not really scale that well.

In fact, even for methods like

[2022-07-01 21:26] Roblinde commented on #294
This should now be possible in 7.1 I decided to change into a result class for all endpoints that support e-tags. I did not add the e-tag to the ContentfulCollection, I felt a more uniform approach across all endpoints was better in this case.

[2022-07-01 21:46] Roblinde commented on #294
Try it out and let me know what you think!

[2022-07-01 21:46] #294 closed

[2022-07-01 21:46] Roblinde commented on #293
Thanks for the contribution! Fixed in version 7.1.0

[2022-07-01 21:46] #293 closed

[2022-07-01 21:47] Roblinde commented on #280
Apologize for the delay, this is now fixed in version 7.1.0

[2022-07-01 21:47] #280 closed

[2022-07-01 21:47] Roblinde commented on #290
Apologize for the delay, this should now be fixed in version 7.1.0

[2022-07-01 21:47] #290 closed

[2022-07-12 21:54] aKzenT commented on #294
Hey,

I apologize for the late reply. I just had a look at the changes and I think it has everything we need. Thank you very much!

I didn't have the chance to try it on our productive system yet. If I encounter any problems, I'll let you know.

Thanks again!

[2022-07-13 17:51] timnash opened #296 "Support Environments"
Hello,
I would like support for Environments in the C# SDK.

[2022-07-19 00:28] leethomascook commented on #199
This is still a problem on the 7.1.0 SDK

[2022-07-20 13:16] rjgotten opened #297 "QueryBuilder is hostile to re-use"
`QueryBuilder` is currently excessively hostile to re-use.

There is no public way to create copies, neither via `ICloneable` nor via an explicit copy constructor.
You need to use reflection to copy over the protected `_querystringValues` storage.

Furthermore, the `QueryBuilder` does not allow overwriting existing query parameters with new values, e.g. once set a single time one can no longer cha

[2022-07-28 19:41] timnash commented on #296
I missed that this is already available! For anyone else that may find this, you can add Environment to the ContentfulOptions object when you load the client.

[2022-07-28 19:41] #296 closed

[2022-08-06 08:23] templar240 opened #298 "GetEntriesForLocale() always throws “The resource could not be found.”"
Hello! I'm stuck by the issue that GetEntriesForLocale() throws “The resource could not be found.” exception.

I did some investigation and found the root cause was locales API from management API collection.
GET: https://api.contentful.com/spaces/SOMESPACE/environments/SOMEENV/locales
We have two locales set for this space, but the API always returns “The resource could not be found.” error.
`{

[2022-08-08 17:59] #298 closed

[2022-08-25 16:16] FreshRob opened #300 "Newtonsoft 13 - Maxdepth error"
When Querying Contentful the json can be large and therefore causing Newtonsoft 13 to throw an exception as it excedes the 64 depth limit.

I've [raised a pr to fix this issue](https://github.com/contentful/contentful.net/pull/299)

error in question

`Newtonsoft.Json.JsonReaderException: 'The reader's MaxDepth of 64 has been exceeded. Path 'items[0].content.content.content[54].content[0].content[

[2022-08-31 09:46] Roblinde commented on #297
Hi @rjgotten

Thanks for your suggestion.

The `QueryBuilder` isn't really meant to be reused, it is a convenient builder to produce a query string in the correct format the Contentful API:s expect.

For example, if you need to copy an existing query string you can just do `.Build()` on the `QueryBuilder` and copy the resulting string as you please.

If you need to overwrite parameters the easiest

[2022-08-31 09:46] #297 closed

[2022-08-31 10:53] annogram opened #301 "[v7.1.0] Serialization Error when using a reference in an Entity"
Hello everyone. the tl;dr of this issue is that I have an Entity A which contains a reference to an Entiy B as part of its payload. When I call `GetEntries<B>()` for all the entries it's working fine. However, when I call `GetEntries<A>()` (which contains a reference to entry A) it fails with the following:

[code]

# Background

I have these record types:

## Skill

[code]

## Project

[code]

I

[2022-08-31 11:16] Roblinde commented on #300
Fixed in version 7.2

[2022-08-31 11:16] #300 closed

[2022-08-31 11:26] Roblinde commented on #301
Hi @annogram
It sounds like you're trying to put an already deserialized item of a specific type into a collection that only contains items of a different type.

It's hard to say exactly what's going on, but are you perhaps using Skill/Project interchangeably for the same content type?

If so have a look at: https://www.contentful.com/developers/docs/net/tutorials/using-net-cda-sdk/#get-entries-of

[2022-08-31 19:29] annogram commented on #301
Hey @Roblinde thanks for the quick response!

That's what the error is saying but that's not the case what you see here is basically the entire error path. There is no inheritance or interfaces on these records they simply declare the fields and the Project Entity references the skill entity. it fails right out of the `GetEntities<T>()`  call.

There is no circular referencing or anything either i

[2022-09-01 10:35] annogram commented on #301
FYI I've fixed this by explicitly using a query builder instead of relying on the parameterless version of `GetEntries`.

### Old

[code]

### New

[code]

[2022-09-01 10:35] #301 closed

[2022-09-05 10:53] rjgotten commented on #297
@Roblinde
The current design for `QueryBuilder` makes it impossible to create further abstractions that use `QueryBuilder` as an argument and require that it pre-process before actually dispatching a query. I already cited one such case: a `GetTotalEntries` which has to perform queries with different offsets serially and then stitch the results back together:

[code]

This is in keeping with the p

[2022-09-09 14:18] zeto opened #302 "Support quality parameter via ImageTagHelper for webp format"
It is possible to set the quality attribute for jpg:

e.g. `<contentful-image jpg-quality="80">`

However this doesn't seem possible with the `webp` format, even though it is supported underneath in the Images API. Can this parameter be exposed by `webp-quality` (or maybe unifiying both with a `quality` attribute) ?

Thank you!

[2022-09-14 06:02] Roblinde commented on #302
@zeto thanks for the suggestion. Yes, the attribute is poorly named. It is only a wrapper for the quality attribute so if even if you have a webp image I think it should still work if you set the jpg-quality attribute, but I will make sure to rename it (or expose a new one) in the next release.

[2022-09-16 15:05] zeto commented on #302
[code]

It gets discarded at the moment (thats how I found out) due to not being JPG which makes sense due to the name of the parameter, but maybe it should ignore the format, the images API documentation mentions non 8-bit PNGs. (AVIF maybe also applies ?)

Thank you!

[2022-09-19 14:06] Roblinde commented on #302
@zeto ah yes, it's discarded, that's unfortunate. I'll let you know when this is fixed and available.

[2022-09-27 07:54] Roblinde commented on #302
@zeto thanks for your patience. This should now be fixed in version 7.2.2

[2022-09-27 07:54] #302 closed

[2022-09-27 08:20] awa-nc commented on #223
Hi @andersekdahl,

We are experiencing the same problem (performance bottleneck), and was wondering what were your long term experiences with the custom approach? We are contemplating whether we should take the same route, or a better approach has emerged.

Thank you.

Best regards,
Andreas

[2022-09-27 08:32] andersekdahl commented on #223
It worked out very well for us but it did mean that we had to stop using the official SDK in a lot of places. The code to deserialize got quite complex as we did it with a custom `JsonConverter` that read token by token, but I think it was worth it given the perf we got.

[2022-10-24 10:48] awa-nc commented on #223
Hi @andersekdahl / all who may be interested,

I wanted to provide an update since we have now written a custom CDA integration which fetches the referenced entries per included level. While the parsing performance/CPU utilization seems to be better, we have run into a new problem: rate-limits.

In hindsight it should not have been a surprise to us since we have been struggling with rate-limits fo

[2022-10-24 10:55] andersekdahl commented on #223
We ended up in almost the same place as you but for different reasons. We changed our solution to not use the CDA for content delivery. Instead we had to listen to changes from Contentful, fetched the data we need and prebake it into models that we stored in Redis which we then used to fetch the data from to serve API clients.

[2022-10-24 11:02] awa-nc commented on #223
That sounds like a very scalable approach - feels a bit like SSG/model generation.

If you are not using the CDA, are you then getting the data you need from the webhook request payload (publication event), or are you using the Sync API for change feeds?

[2022-10-24 11:07] andersekdahl commented on #223
IIRC we used the management API in the webhook handler to fetch the entities needed to rebuild the data in Redis.

We didn't have a lot of editors invalidating the CDA but we still got a lot of unexpected cache misses so we had to go the Redis route.